<div class="row-fluid">
	<div class="span12">

		<div class="pull-right">
			<a class="btn btn-success" href="#projects/new">New Project</a>
		</div>
		<h1>Projects <small></small></h1>
		<hr/>
		<div id="projects-box">
			
		</div>
		<div class="pagination">
		  <!--ul-->
		    <!-- <li><a href="#">Prev</a></li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li> -->
		    <!--li><a href="/#projects/?skip=<%= Number(limit)+Number(skip) %>" class="">More -></a></li>
		  </ul-->
			<a class="btn btn-block btn-info" href="/#projects/?skip=<%= Number(limit)+Number(skip) %>">More</a>
		</div>

	</div>

</div>
